.commodity.grid-content {
  width: 100%;
  height: 100%;

  .sale-type {
    display: flex;
    flex-direction: column;

    height: 100%;

    .grid-content__image {
      margin: 1px;

      height: 135px;

      object-fit: fill;

      mask:
        radial-gradient(circle 11.3px at top left, #0000 100%, #000) top left,
        radial-gradient(circle 11.3px at top right, #0000 100%, #000) top right;
      mask-size: 51% 100%;
      mask-repeat: no-repeat;
    }

    .grid-content__main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
      gap: 4px;

      margin: 4px 8px;
      padding: 4px;

      .price {
        color: $colorSuccess;

        font-size: 20px;
        line-height: 1;
        font-weight: bold;
      }

      .text {
        font-size: 16px;
      }
    }

    .grid-content__tags {
      align-content: flex-end;

      margin-bottom: 12px;

      .ant-tag {
        padding: 2px;
        margin-right: 0;

        color: white;

        border-radius: 2px;

        font-size: 13px;
        line-height: 13px;

        background-color: #bfbfbf;
      }
    }
  }

  .purchase-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    padding: 8px 8px 12px;

    height: 100%;

    box-sizing: border-box;

    .grid-content__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      .price {
        color: $colorSuccess;

        font-size: 20px;
        line-height: 1;
        font-weight: bold;
      }
    }

    .grid-content__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 8px;

      padding: 0 4px;

      width: 100%;

      box-sizing: border-box;

      font-size: 16px;
    }

    .grid-content__divider {
      width: 100%;
      height: 13px;

      background-image: url("@/assets/decorate/market-card_divider.svg");
    }

    .grid-content__tags {
      align-content: flex-end;

      .ant-tag {
        padding: 2px;
        margin-right: 0;

        color: white;

        border-radius: 2px;

        font-size: 13px;
        line-height: 13px;

        background-color: #bfbfbf;
      }
    }
  }

  // .grid-content__content {
  //   display: flex;
  //   flex: 1;
  //   flex-direction: column;
  //   gap: 8px;

  //   padding: 0 5px;

  //   .info {
  //     &__label {
  //       flex-shrink: 0;

  //       min-width: 68px;

  //       color: #434343;
  //       font-size: 16px;
  //       font-weight: bold;
  //     }

  //     &__value {
  //       color: #434343;
  //       font-size: 16px;
  //     }
  //   }
  // }
}
