.transaction-table {
  height: calc(100vh - $height-navbar - $height-footer);

  &__side {
    position: relative;
    z-index: 1;
    padding: 108px 16px 80px;
    width: 380px;
    height: 680px;

    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba($color: #ffffff, $alpha: 0.7);

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0px;
      left: -40px;
      width: 480px;
      height: 100%;
      background-image: url("@/assets/border/market-side.png");
      background-repeat: no-repeat;
    }

    .side-form {
      &_wrapper {
        height: 100%;
      }

      &_content {
        padding: 0 15px;

        width: 100%;

        box-sizing: border-box;

        > .ant-form-item {
          padding: 5px 0;
        }

        .ant-form-item {
          margin: 0;

          label {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      &_action {
        padding: 5px 0;

        .form-reset {
          padding: 0;

          height: 32px;
          width: 45px;

          color: #8c8c8c;
          border-color: #bfbfbf;

          border-radius: 5px;

          &:active {
            color: $colorPrimary !important;
            border-color: $colorPrimary !important;
          }

          &:hover {
            color: #8c8c8c !important;
            border-color: $colorPrimary !important;
          }
        }

        .form-confirm {
          padding: 0;

          height: 32px;
          width: 100px;

          color: white;
          background-color: $colorPrimary;
          border-color: rgba($color: $colorActive, $alpha: 0.25);

          &:active,
          &:hover {
            color: white !important;
            background-color: $colorPrimary !important;
            border-color: $colorActive !important;
          }
        }
      }
    }
  }

  &__main {
    width: 1060px;
    height: 680px;

    .main {
      &-tabs {
        position: relative;
        z-index: 1;

        padding-bottom: 4px;
        height: 46px;
        width: 100%;

        background: url("@/assets/decorate/market-tab_background.png");
        background-repeat: no-repeat;
        background-position: 0 3px;

        &__item {
          width: 50%;
          height: 100%;

          color: $colorPrimary;
          font-size: 20px;
          line-height: 46px;
          font-weight: bold;

          text-align: center;
          cursor: pointer;

          transition: all 0.2s ease-out;

          &.active {
            color: $colorActive;
          }
        }

        &.decorate {
          &-left::before {
            left: 0;
          }

          &-right::before {
            left: calc(50% - 30px);
          }
        }

        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;

          height: 46px;
          width: 562px;

          background: url("@/assets/decorate/market-tab_active.png");

          transition: all 0.2s ease-out;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 10px 0 15px;

        height: calc(100% - 50px);

        background-color: rgba($color: #ffffff, $alpha: 0.7);
        border: 1px solid $colorPrimary;
        border-radius: 20px;

        box-sizing: border-box;

        .item-table {
          &__content {
            flex-grow: 1;

            padding: 0 14px 15px;
            overflow: auto;
          }
        }
      }
    }
  }
}
