%tag-item {
  display: inline-flex;
  align-items: center;

  margin-inline-end: 0;

  height: 30px;

  font-size: 14px;

  color: $colorInfo;
  background-color: white;
  border: 1px solid $colorActive;

  &.ant-tag-checkable-checked {
    color: white;
    background-color: $colorPrimary;
  }
}
