.coin-commodity-form {
  .ratio-symbol {
    color: #aeaeae;

    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
  }

  .ant-form-item-label > label {
    color: #434343;

    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
  }
}
