.commodity-card {
  position: relative;
  z-index: 0;

  width: 250px !important;
  height: 300px;

  background-color: $color-background-white;

  mask:
    radial-gradient(circle 15px at top left, #0000 98%, #000) top left,
    radial-gradient(circle 15px at top right, #0000 98%, #000) top right,
    radial-gradient(circle 15px at bottom left, #0000 98%, #000) bottom left,
    radial-gradient(circle 15px at bottom right, #0000 98%, #000) bottom right;
  mask-size: 51% 51%;
  mask-repeat: no-repeat;

  &_wrapper {
    position: relative;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.1));

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      height: 96%;
      width: 96%;

      box-sizing: border-box;
      border: 1px solid #e2d4bb;
    }
  }

  &_image {
    overflow: hidden;
    z-index: 1;

    width: 100%;
    height: 200px;

    object-fit: cover;
  }

  &_content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    padding: 10px 20px;

    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  &_title {
    color: rgba(0, 0, 0, 0.88);
  }

  &_name {
    color: rgba(0, 0, 0, 0.65);
  }

  &_prize {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;

    color: rgba(0, 0, 0, 1);
  }
}
