.commodity-carousel {
  padding: 5px 0;
  width: 100%;

  &_title {
    color: #6d5833;

    font-size: 23px;
    font-weight: bold;
    line-height: 1;
  }

  &_action-type {
    width: 80px;
    height: 40px;

    color: rgba($color: #6d5833, $alpha: 0.5);

    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;

    background: url("@/assets/button/commodity-carousel.png");

    border: none;

    &:not(:disabled):not(.ant-btn-disabled) {
      &:hover,
      &:active {
        color: rgba($color: #6d5833, $alpha: 0.5);

        background: url("@/assets/button/commodity-carousel.png");

        border: none;
      }
    }

    &.active {
      color: #ffffff;

      background: url("@/assets/button/commodity-carousel_active.png");

      &:not(:disabled):not(.ant-btn-disabled) {
        &:hover,
        &:active {
          color: #ffffff;

          background: url("@/assets/button/commodity-carousel_active.png");

          border: none;
        }
      }
    }
  }

  &_action-more {
    display: flex;
    align-items: center;

    color: #6a6a6a;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    &.ant-btn:not(:disabled):not(.ant-btn-disabled) {
      &:hover,
      &:active {
        color: #6a6a6a;
      }
    }
  }

  .base-carousel .slick-arrow {
    top: 45%;
  }
}
