@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional");
@import url("https://fonts.cdnfonts.com/css/inter");
@import "@/styles/reset.scss";

html,
body {
  height: 100%;
  font-family:
    Noto Sans TC,
    Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;

  color: $color-font-base;
}

#root {
  position: relative;
  padding-top: $height-navbar;
  padding-bottom: $height-footer;
  min-height: 100%;
  box-sizing: border-box;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-color: $color-background-base;
    background-image: url("@/assets/backage-main.png");
    background-size: cover;
  }
}
