$color-white: #ffffff;
$color-black: #000000;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #e2e2e2;
$color-grey-light-3: #c6c6c6;
$color-grey-light-4: #aaaaaa;

$color-grey: #858585;

$color-grey-dark-1: #1a1a1a;
$color-grey-dark-2: #242424;
$color-grey-dark-3: #3f3f3f;
$color-grey-dark-4: #5e5e5e;

$color-purple: #646cff;
$color-purple-light: #747bff;
$color-purple-dark: #535bf2;

$color-blue-dark: #213547;
