$color-font-base: #595959;
$color-font-link: #4f4f4f;

$color-background-white: #fff;
$color-background-base: #f8f8f8;
$color-background-navbar: #fafafa;
$color-background-footer: #f5f5f5;

$height-navbar: 70px;
$height-footer: 70px;
