.the-navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: $height-navbar;
  width: 100%;

  box-sizing: border-box;
  background-color: $color-background-navbar;
  box-shadow:
    0px 6px 16px -8px rgba(0, 0, 0, 0.08),
    0px 9px 28px 0px rgba(0, 0, 0, 0.08),
    0px 12px 48px 16px rgba(0, 0, 0, 0.03);

  &__menus {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  &__actions {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .menus {
    height: 100%;

    &-logo > img {
      cursor: pointer;
      width: 108px;
    }

    &-items {
      display: flex;
      gap: 16px;

      height: 100%;

      .item {
        padding: 16px;
        display: flex;
        align-items: center;

        color: rgba(0, 0, 0, 0.65);
        text-decoration: none;

        font-size: 16px;
        line-height: 1.5;

        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: #d9d9d9;
        }
      }
    }
  }

  .actions {
    &-search {
      width: 280px;
      padding: 5px 12px;

      color: #d9d9d9;
    }

    &-item {
      color: #595959;
    }
  }
}
