@import "../style.scss";

.base-field {
  .input-coin {
    &__no-limit {
      @extend %tag-item;
    }

    &__selector {
      width: 100px;

      .ant-select-selector {
        color: #b6b6b6c0;
        border-color: $colorPrimary;
      }
    }

    &__input {
      width: 100%;

      border-color: $colorPrimary;
    }

    &__semicolon {
      font-size: 20px;
      color: $color-font-base;
    }
  }
}
