.appearance.header-content {
  .header-content__title {
    color: #bfbfbf;

    font-size: 16px;
    line-height: 1;
    font-weight: bold;
  }

  .header-content__text {
    color: #434343;

    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
  }

  .header-content__price {
    color: $colorSuccess;

    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
  }
}
