#poster-info-form {
  .label {
    color: #434343;

    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
  }

  .tip_contacts-error {
    color: $colorError;
  }

  .ant-form-item-label > label {
    @extend .label;
  }
}
