.item-card {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;

  box-sizing: border-box;

  cursor: pointer;

  &.mode-list {
    gap: 10px;
  }

  &.mode-grid {
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    width: 250px;
    height: 250px;

    overflow: hidden;

    background-image: url("@/assets/border/market-card_grid.png");
  }

  .split-dot {
    > :nth-child(n + 2)::before {
      content: "";
      padding: 0 6.5px;

      background-repeat: no-repeat;
      background-position: center;
      background-image: url("@/assets/decorate/market-dot.png");
    }
  }
}
