.base-carousel {
  .slick {
    &-arrow {
      position: absolute;
      top: 50%;
      z-index: 1;

      width: 36px;
      height: 36px;

      color: #e2d4bb !important;
      background: #fff !important;
      box-shadow:
        0px 6px 16px -8px rgba(0, 0, 0, 0.08),
        0px 9px 28px 0px rgba(0, 0, 0, 0.08),
        0px 12px 48px 16px rgba(0, 0, 0, 0.03);
    }

    &-slide {
      margin-right: 16px;
      padding-bottom: 5px;

      overflow: hidden;

      &:last-child {
        margin-right: 0;
      }
    }

    &-next {
      right: 0;
      transform: translate(50%, -50%) !important;
      margin: 0;
    }

    &-prev {
      left: 0;
      transform: translate(-50%, -50%) !important;
      margin: 0;
    }

    &-disabled {
      display: none !important;
    }
  }
}
