.home-page {
  margin: 0 auto 87.5px;
  padding: 24px;

  width: 1280px;

  box-sizing: border-box;

  .search-block {
    padding: 40px 0;

    width: 100%;

    &_logo {
      width: 242px;
      margin-bottom: 40px;
    }
  }
}
